@model CRUD_CSHARP.Models.Veiculo

@{
    ViewData["Title"] = "Novo Veículo";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Cadastrar motorista</h3>
    </div>
    <form asp-action="Create" method="post">
        <div class="card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Marca"></label>
                <input asp-for="Marca" class="form-control" />
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Placa"></label>
                <input asp-for="Placa" class="form-control" />
                <span asp-validation-for="Placa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for=""></label>
                <input asp-for="Cnh" class="form-control" />
                <span asp-validation-for="Cnh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoCnh"></label>
                <select asp-for="TipoCnh" class="form-control" asp-items="Html.GetEnumSelectList<TipoCnh>()"></select>
                <span asp-validation-for="TipoCnh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefone"></label>
                <input asp-for="Telefone" class="form-control" />
                <span asp-validation-for="Telefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataNascimento"></label>
                <input asp-for="DataNascimento" class="form-control" type="date" />
                <span asp-validation-for="DataNascimento" class="text-danger"></span>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Salvar</button>
            <a class="btn btn-secondary" asp-action="Index">Cancelar</a>
        </div>
    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
