@{
    ViewData["Title"] = "Boas-vindas";
}
<div class="card">
    <div class="card-header">
        <h3>Bem-vindo ao desafio</h3>
    </div>
    <div class="card-body">
        <p>
            Este projeto já possui um CRUD completo de <strong>Motoristas</strong> que pode ser usado como referência.
            Sua tarefa é implementar o CRUD de <strong>Carros</strong> seguindo o mesmo padrão.
        </p>

        <h5>O que você deve fazer</h5>
        <h5>Emanol Messias</h5>


        <ol>
            <li>Seguindo o Padrão MVC implemente os métodos do controlador <code>Controllers/CarrosController.cs</code></li>
            <li><strong>Dica:</strong> Analise o padrão do CRUD em <code>Controllers/MotoristasController.cs</code> e <code>Views/Motoristas</code> para realizar essa tarefa.</li>
            <li>Use o modelo <code>Models/Carro.cs</code></li>
            <li>Crie as telas (Views) para a manipulação de carros:
                <ul>
                    <li><code>Views/Carros/Index.cs</code></li>
                    <li><code>Views/Carros/Details.cs</code></li>
                    <li><code>Views/Carros/Create.cs</code></li>
                    <li><code>Views/Carros/Edit.cs</code></li>
                    <li><code>Views/Carros/Delete.cs</code></li>
                </ul>
            </li>
        </ol>

        <h5>O que será avaliado:</h5>
        <ul class="mb-0">
            <li>Telas funcionando sem erro (listar, cadastrar, editar, detalhar e excluir);</li>
            <li>Validações de campos respeitadas (ModelState/DataAnnotations);</li>
            <li>Orgnização do código;</li>
            <li>Lógica de programação implementada;</li>
            <li>Capacidade de usar git;</li>
            <li>Esforço em concluir a tarefa;</li>
        </ul>

    </div>
    <div class="card-footer">
        <p>Exemplo (CRUD pronto)</p>
        <a asp-controller="Motoristas" asp-action="Index" class="small-box-footer">
            Abrir CRUD de motoristas <i class="fas fa-arrow-circle-right"></i>
        </a>
    </div>
</div>
