@{
    ViewData["Title"] = "Resolução";
}
<div class="card">
    <div class="card-header">
        <h3>Resolução ~ by Filipe Ribeiro (<a href="https://github.com/kerusmighos/CRUD_CSHARP" target="_blank">github.com/kerusmighos/CRUD_CSHARP</a>)</h3>
    </div>
    <div class="card-body">
        <p>
            Primeiramente, gostaria de parabenizar a equipe pelo desenvolvimento e aplicação desse teste prático.
            Essa atitude demonstra o empenho e dedicação da empresa com o processo seletivo e com os participantes.
        </p>
        <p>
            Apesar de essa ser a minha primeira vez trabalhando com C#, me senti confortável com a estrutura do
            projeto pois já tenho experiência com outros frameworks MVC como o Spring Boot (Java) e Django (Python).
        </p>

        <p>
            Uma vez que me familiarizei com a estrutura e nomenclaturas do ASP.NET e do desafio em si, 
            pude implementar os requisitos especificados sem dificuldades, apenas fazendo algumas consultas eventuais as documentações e ao módulo de motoristas.
        </p>

        <h5>Pequenas melhorias: </h5>

        <p>Além dos requisitos listados no desafio, implementei algumas pequenas melhorias:</p>

        <ul class="mb-0">
            <li>Adicionei um arquivo <strong>Docker Compose</strong></li>
            <li>Adicionei um botão de <strong>Excluir</strong> na tela de <strong>Details</strong> de
                <strong>Veiculo</strong>, que na de motoristas não existe</li>
            <li>Tornei a exibição do nome da propiedade CapacidadeTanqueLitros <strong>dinâmica</strong> e fiz ela ser
                exibida como Capacidade do Tanque <strong>kWh</strong> para veículos elétricos</li>
        </ul>

        <p class="mt-2">Gostaria de finalizar agradecendo pela oportunidade de participar do processo seletivo.</p>

    </div>
</div>