@model CRUD_CSHARP.Models.Veiculos.Veiculo

@{
    ViewData["Title"] = "Novo Veiculo";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Cadastrar veiculo</h3>
    </div>
    <form asp-action="Create" method="post">
        <div class="card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Placa"></label>
                <input asp-for="Placa" class="form-control" />
                <span asp-validation-for="Placa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Marca"></label>
                <input asp-for="Marca" class="form-control" />
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Modelo"></label>
                <input asp-for="Modelo" class="form-control" />
                <span asp-validation-for="Modelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ano"></label>
                <select asp-for="Ano" class="form-control" asp-items="Html.GetEnumSelectList<TipoCnh>()"></select>
                <span asp-validation-for="Ano" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CapacidadeTanqueLitros"></label>
                <input asp-for="CapacidadeTanqueLitros" class="form-control" />
                <span asp-validation-for="CapacidadeTanqueLitros" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Combustivel"></label>
                <select asp-for="Combustivel" class="form-control" asp-items="Html.GetEnumSelectList<TipoCombustivel>()"></select>
                <span asp-validation-for="Combustivel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categoria"></label>
                <select asp-for="Categoria" class="form-control" asp-items="Html.GetEnumSelectList<CategoriaVeiculo>()"></select>
                <span asp-validation-for="Categoria" class="text-danger"></span>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Salvar</button>
            <a class="btn btn-secondary" asp-action="Index">Cancelar</a>
        </div>
    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
